<a href="https://colab.research.google.com/github/RapaDewan/Machine-Learning/blob/main/Vid16/Vid16.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
num=24
if num%2==0:
  print ('even')
else:
  print("odd")

even

In [9]:
def even_odd(num):
   if num%2==0:
     print ('even')
   else:
     print("odd")

In [10]:
even_odd(30)

even

In [11]:
def rapa_prac():
  print("Rapa")

In [13]:
rapa_prac()

Rapa

In [19]:
def rapa_prac():
  return "rapa"

In [20]:
val=rapa_prac()

In [21]:
print (val)

rapa

In [22]:
def add_num(num1, num2):
  return num1+num2

In [27]:
val=add_num(24,34)

In [29]:
print (val)

58

In [36]:
def hello(name, age=29):
  print("my name is {} and my age is {}".format(name,age))

In [37]:
hello ("RApa")

my name is RApa and my age is 29

In [38]:
def hello(name, age):
  print("my name is {} and my age is {}".format(name,age))

In [39]:
hello('Rapa', 24)

my name is Rapa and my age is 24

In [41]:
def hello(*args, **kwargs):
  print (args, kwargs)

In [42]:
  hello("Rapa", "dewan")

('Rapa', 'dewan') {}

In [43]:
hello("rapa", "dewan", age=24, dob=1999)

('rapa', 'dewan') {'age': 24, 'dob': 1999}

In [44]:
 lst=['rapa', 'dewan']
 dict_args= {'age': 24, 'dob': 1999}

In [46]:
hello(*lst, **dict_args)

('rapa', 'dewan') {'age': 24, 'dob': 1999}

In [47]:
lst=[1,2,3,4,5,6,7]

In [49]:
def evenoddsum(lst):
  even_sum=0
  odd_sum=0
  for i in lst:
    if i%2==0:
     even_sum=even_sum+i
    else:
      odd_sum=odd_sum+i
    return even_sum, odd_sum #etar ans thik ashe na kno??

In [50]:
evenoddsum(lst)

(0, 1)